@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
}

a {
    color: white;
}

.bottom {
    margin: 0;
}

.left-side {
    width: 40%;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.overlay-img{
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 20%;
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
}

.left-side footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    color: white;
    text-align: center;
    font-size: 0.8rem;
}

form, header, footer, .bottom {
    width: 100%;
    border-radius: 20px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 60%;
    background-color: #F4F4F4;
    
}

.row {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.input-group{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

input:invalid {
    border: 2px solid red;
}

input:focus {
    border: 2px solid blue;
    box-shadow: blue;
}

header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-grow: 1;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

}

.button, .footer {
    margin-top: 1.5rem;
    font-size: 0.9rem;
}

.footer a {
    color: #596D48;
    font-weight: 700;
}

.bottom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

form h1 {
    margin-bottom: 0.5rem;
}


input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #596D48;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45A049;
}

footer {
    text-align: center;
    margin-top: auto;
    font-size: 0.7rem;
    color: #666;
}